.overview {
  background-color: #333; /* Light background for contrast */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 100px 150px; /* Adjusted margin for smaller screens */
}

.overview-title {
  font-size: 24px;
  color: #fff; /* Darker text color for the title */
  margin-bottom: 10px;
}

.overview-text {
  font-size: 16px;
  color: #fff; /* Slightly lighter text color for readability */
  line-height: 1.5; /* Improved readability */
}

.title {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 40px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .overview {
    margin: 50px 10px; /* Smaller margin on phones */
    padding: 15px; /* Adjust padding for smaller screens */
  }

  .overview-title {
    font-size: 20px; /* Smaller font size for the title */
  }

  .overview-text {
    font-size: 14px; /* Smaller font size for text */
  }

  .title {
    font-size: 24px; /* Adjust title size on smaller screens */
    margin-top: 30px; /* Adjust top margin */
  }
}
