.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.cta-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  direction: 'alternate';
}

.cta-button:hover {
  background-color: #21a1f1;
  
}
