/* General styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

/* Landing Page Container */
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url("./assets/istockphoto-1490263997-640_adpp_is.mp4_1729363612392-ezgif.com-video-to-gif-converter.gif")
    no-repeat center center;
  background-size: cover;
}

.title1 {
  color: #94ffd2;
  font-size: 4rem;
  margin-top: -100px;
}

.main_title {
  color: #fff;
  font-size: 22px;
  margin-bottom: 120px;
  font-weight: 200;
}

/* Floating Button */
.floating-button {
  padding: 15px 30px;
  font-size: 1rem;
  color: #fff;
  background-color: #01060e;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-top: 50px;
}

.floating-button:hover {
  transform: scale(1.2);
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .title1 {
    font-size: 2.5rem; /* Adjust font size for smaller screens */
    margin-top: -50px;
  }

  .main_title {
    font-size: 18px; /* Reduce font size for readability */
    margin-bottom: 80px;
    padding: 0 10px; /* Add padding to reduce horizontal overflow */
  }

  .floating-button {
    padding: 10px 20px;
    font-size: 0.9rem; /* Adjust button font size */
  }
}

@media (max-width: 480px) {
  .title1 {
    font-size: 2rem; /* Further reduce font size for very small screens */
    margin-top: -30px;
  }

  .main_title {
    font-size: 16px; /* Even smaller for very narrow screens */
    margin-bottom: 60px;
  }

  .floating-button {
    padding: 8px 15px;
    font-size: 0.8rem;
  }
}
