@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* General styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
}

/* Landing Page Container */
.landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('./assets/istockphoto-1490263997-640_adpp_is.mp4_1729363612392-ezgif.com-video-to-gif-converter.gif') no-repeat center center; /* Set background image */
    background-size: cover; /* Make sure the background covers the entire container */
}

/* Landing Page Title */
.landing-title {
    font-size: 12rem;
    color: #fff;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out forwards; /* Fade-in animation */
}

/* Landing Page Subtitle */
.landing-subtitle {
    font-size: 5rem;
    color: #ffffffcc;
    margin-bottom: 40px;
    max-width: 600px;
    animation: fadeIn 1.5s ease-in-out 0.5s forwards; /* Fade-in animation with delay */
}

/* Floating Button */
.floating-button {
    padding: 15px 30px;
    font-size: 1rem;
    color: #fff;
    background-color: #01060e;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    animation: fadeIn 1.5s ease-in-out 1s forwards; /* Fade-in animation with delay */
    margin-top: 50px;
}

.floating-button:hover {
    transform: scale(1.1);
}

/* Navbar Styles */
.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #0d47a1;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

.main_title {
    color: #fff;
    font-size: xx-large;
    margin-bottom: 120px;
    ;
}

/* Particle background customization */
#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Push it behind all content */
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Optional: Slight upward movement */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End at the original position */
    }
}
